.Mascota_1 {
    width:100%;
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}


.Mascota_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;

}



.Mascota_2 h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}



.Bton_1 {
    background-color: #024059;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.3s;
}

.Bton_1:hover {
    background-color: #0388A6;
}

.List_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
}


